/* Algemeen */
body{
  font-family: 'PT Sans', sans-serif!important;
}

p{
  font-family: 'PT Sans', sans-serif!important;
}

/* Navigatie */
.nav li a{
  color: #999999;
}

.nav li a span{
  margin-right: 8px;
}

.table-bordered>tbody>tr>td{
  padding: 20px!important;
}

.nav li a.active{
  background-color: #57971f;
  color: white;
}

/* Log in */
.titleLogIn{
  font font-family: 'PT Sans', sans-serif!important;
  top: 0;
  width: 101%;
  color: white;
  background: #4CAF50;
  text-align: center;
  height: 100px;
  line-height: 100px;
  margin-top: -10px;
  margin-left: -10px;
}

.login-page {
  font font-family: 'PT Sans', sans-serif!important;
  width: 360px;
  padding: 3% 0 0;
  margin: 0 auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #3b3b3b;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input.buttonsave {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form input.buttonsave:hover,.form input.buttonsave:active,.form input.buttonsave:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* Uitloggen */
.form h1{
  color: white;
  margin-top: -20px;
}

/* Content */
.overzicht {
  background: #fcfcfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.04);
}

.modules {
  background: #fcfcfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.04);
}

.personal{
    width: 40px;
    border-radius: 25px;
    margin-left: 25px;
}

.titel{
  font-size: 22px;
    position: absolute;
    top: 30px;
    /*margin-left: 85px;*/
    margin-left: 30px;
  font-family: 'PT Sans', sans-serif!important;
}
.titel-2{
  font-size: 12px;
    position: absolute;
    top: 60px;
    /*margin-left: 85px;*/
    margin-left: 30px;
  font-family: 'PT Sans', sans-serif!important;
  opacity: .5;
}

.menu-icon{
width: 30px;
    opacity: .5;
    top: 30px;
    position: absolute;
    margin-left: 30px;
}

.main-bar-top{
  height: 100px;
  width: 100%;
  background-color: #e9ecf1;
}

#TimeDate{
  color: #999999;
      margin-left: 40px;
    margin-right: 20px;
}

hr{
  border-top: solid 1px #4C4C4C!important;
}

.modules p {
  display: inline;
  margin-left: 80px;
}
.switch {
  display: none;
}

.sidebar-nav li:hover{
  background-color: #57971f;
}

.meters{
  margin-left: auto;
  margin-right: auto;
}

.switch-label {
  box-sizing: content-box;
  background-clip: content-box;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  transition: border 0.4s, box-shadow 0.4s, background-color 0.8s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 50px;
  /*Hide text*/
  color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

.switch-label:after {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: auto;
  text-align: center;
  top: 0;
  transition: margin 0.2s ease;
  width: 30px;
}

.switch-label:active:after {
  transform: scale(1.1, 0.9);
}

.switch:checked + .switch-label {
  background-color: #57971f;
  border-color: #57971f;
  box-shadow: #57971f 0px 0px 0px 14px inset;
}

.switch:checked + .switch-label:after {
  margin-left: 20px;
}

.switch:disabled + .switch-label {
  background-color: #888888;
  border: 1px solid #5a5a5a;
  /*cursor: not-allowed;*/
  pointer-events: none;
  opacity: 0.5;
}

.switch:disabled + .switch-label:after {
  background: #bbbbbb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

/*Calender*/

ul {list-style-type: none;}

/* Month header */
.month {
/*    padding: 70px 25px;*/
    width: 100%;
    background: #57971f;
    margin-left: -3%;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    width: 100%;
    margin-left: -3%;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    margin: 0;
    margin-left: -3%;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.3%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
    padding: 5px;
}

.days li:hover {
   background-color:rgba(87,151,31,0.5);
}



/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #57971f;
    color: white !important
}

/* Button send message */
.btn-send{
  background-color: #57971f;
  -webkit-transition: background-color .5s; /* Safari */
  transition: background-color .5s;
  border: none;
}

.btn-send:hover{
  background-color: #6ebe27;
  border: none;
}

/* Form messages */
form.formMessges{
  width: 100%;

}

form.formMessages input{
  width: 100%;
}

form.formMessages #i1{
  width: 18%;
  margin: 2%;
  padding: 0;
  height: 40px;
}

<<<<<<< HEAD

form.formMessages #i2{
  width: 60%;
  margin: 2%;
  padding: 0;
   height: 40px;
}

form .btn-send{
  width: 8%;
  margin: 2%;
  padding: 0;
   height: 40px;
}

.berichten p{
  margin: 2%;
  border-bottom: 1px solid lightgrey;
}
>>>>>>> origin/master
